<!DOCTYPE html>
<html>

    <%- include('./partials/userFormHead') %>

<body>
    <div class="cont">
        <form action="/users/login" method="POST">
            <div class="form sign-in">
                <h2>Sign In</h2>
                <%- include('./partials/messages') %>
                <label for="email">
                    <span>Email Address</span>
                    <input type="email" name="email" value="<%= typeof name != 'undefined' ? name : '' %>" />
                </label>
                <label for="password">
                    <span>Password</span>
                    <input type="password" name="password"
                        value="<%= typeof password != 'undefined' ? password : '' %>" />
                </label>
                <button class="BUTTON_GFG" type="submit">Sign In</button>
                <p class="forgot-pass">Forgot Password ?</p>
                <p class="forgot-pass">No account yet ? Register <a href="/users/register" type="submit"
                        class="forgot-pass">Here</a></p>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>