<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <header class="showcase">
        <div class="showcase-top">
            <a href="/users/login" class="btn btn-rounded">Sign in</a>
        </div>
        <div class="showcase-content">
            <h1>Quick Tech News</h1>
            <p>Create an account or login to continue</p>
            <a href="/users/register" class="">Register</a>
            <a href="/users/login" class="">Login</a>
        </div>
    </header>
</body>

</html>