<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b265f8cbaa.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="showcase">
        <div class="showcase-top">
            
        </div>
        <div class="showcase-content">
            <h1>Quick Tech News</h1>
            <p>Create an account or login to continue</p>
            <a href="/users/register" class="BUTTON_GFG" type="submit">Register</a>
            <a href="/users/login" class="BUTTON_GFG" type="submit">Sign In</a>
        </div>
    </header>
</body>

<%- include('./partials/footer') %>

</html>