<footer class="footer">
    <div class="footer-cols">
        <ul>
            <li>Masato Deweerdt</li>
            <li><a href="https://github.com/masatoDeweerdt"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/masato-deweerdt-63a252169/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul>
            <li><a href="#"></a></li>
        </ul>
        <ul>
            <li><a href="https://becode.org/fr/">Becode 2020</a></li>
        </ul>
    </div>

</footer>